.jumbotron
  .container
    %h1 Hello, world!
    %p My name is Katelyn Sievert, and this is my résumé. Click below to explore.
    %p= link_to 'My background', 'background', class: 'btn btn-primary btn-lg'