.container
  %h1 About This Site
  %p.lead With this site I set out to impress myself. I hope I won't be the only one.
  %p 
    :markdown
      This website is standing on the shoulders of a lot of different technologies. It's a **Ruby on Rails 4.0** site with a few changes to the default asset types (using **HAML** and **CoffeeScript**). It uses the relatively new **Bootstrap 3** framework for most of the layout.
  %p
    :markdown
      This site is also available on _GitHub_ [here](https://www.github.com/katiesvt/resume). Feel free to take a look at the source code.