<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlwaysUpdateImages</key>
	<true/>
	<key>DefaultPageName</key>
	<string></string>
	<key>DeploymentCheckLinks</key>
	<false/>
	<key>DeploymentCheckSyntax</key>
	<false/>
	<key>DeploymentContinueAfterErrors</key>
	<false/>
	<key>DeploymentUpdateImages</key>
	<false/>
	<key>DeploymentUpdatePlaceholders</key>
	<false/>
	<key>DontUpdate1x1Images</key>
	<true/>
	<key>InsertEmptyAltAttribute</key>
	<true/>
	<key>LinkAddressingMode</key>
	<string>Automatic</string>
	<key>LocalSiteRootLocator</key>
	<dict>
		<key>BookmarkData</key>
		<data>
		Ym9vazwDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAARAIAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGthdGllAAAABQAAAAEB
		AABTaXRlcwAAAAYAAAABAQAAcmVzdW1lAAAQAAAAAQYAAAQAAAAUAAAAJAAA
		ADQAAAAIAAAABAMAAMe2CgAAAAAACAAAAAQDAAD5yQoAAAAAAAgAAAAEAwAA
		C5Q7AAAAAAAIAAAABAMAAMgQtQAAAAAAEAAAAAEGAABcAAAAbAAAAHwAAACM
		AAAACAAAAAAEAABBt9bolgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
		AAAAAAAABAAAAAMDAAACAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRv
		c2ggSEQIAAAABAMAAAAgiD06AAAACAAAAAAEAABBt1gyfwAAACQAAAABAQAA
		NEMzMjAxNTEtMzdERi0zNDQ4LThBMTgtQzIyRjFDMkREREE1GAAAAAECAACB
		AAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKoA
		AAABAgAAODZiMjkxYzllN2NmMWNiZWMzZjJlNzIzOTY3MDRiMWY4ZDRjYmYx
		MzswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBs
		ZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAwMDAwMDAxOzAxMDAwMDAyOzAw
		MDAwMDAwMDBiNTEwYzg7L3VzZXJzL2thdGllL3NpdGVzL3Jlc3VtZQAAAMAA
		AAD+////AQAAAAAAAAAPAAAABBAAAEQAAAAAAAAABRAAAJwAAAAAAAAAEBAA
		AMQAAAAAAAAAQBAAALQAAAAAAAAAAiAAAHwBAAAAAAAAECAAAPwAAAAAAAAA
		ESAAADABAAAAAAAAEiAAABABAAAAAAAAEyAAACABAAAAAAAAICAAAFwBAAAA
		AAAAMCAAAIgBAAAAAAAAAcAAAOQAAAAAAAAAEcAAABQAAAAAAAAAEsAAAPAA
		AAAAAAAAgPAAAJABAAAAAAAA
		</data>
		<key>FileURL</key>
		<string>file://localhost/Users/katie/Sites/resume/</string>
		<key>RelativePath</key>
		<string>./</string>
		<key>TypeID</key>
		<string>_CFileLocator</string>
		<key>Version</key>
		<integer>1</integer>
	</dict>
	<key>Name</key>
	<string>Resume</string>
	<key>NewDocumentCharset</key>
	<string>utf-8</string>
	<key>NewDocumentDOCType</key>
	<string></string>
	<key>NewDocumentGiveBBEditCredit</key>
	<true/>
	<key>NewDocumentInsertDOCType</key>
	<true/>
	<key>NewDocumentInsertXMLDeclaration</key>
	<false/>
	<key>NewDocumentLanguage</key>
	<string>en</string>
	<key>PreviewServerURL</key>
	<string>http://localhost:3000</string>
	<key>SitePath</key>
	<string></string>
	<key>UsePreviewServer</key>
	<true/>
	<key>WebServerURL</key>
	<string></string>
</dict>
</plist>
